/*Começo - (Footer)*/

footer{
    background: var(--backgroud-footer);
}

.copy{
    padding: 12px;
    
}

.copy p{
    text-align: center;
    color: var(--backgroud-principal);
}

.up{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.up i{
    color: var(--backgroud-principal);
    background: var(--backgroud-up);
    padding: 7px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.up .bi-whatsapp{
    bottom: 50px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Fim - (Footer)*/