/*Começo - (Team)*/
main .product{
    background-color: var(--backgroud-principal);
    padding: 30px 0;
}

main .product .product-cards .cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,380px);
    justify-content: center;
    align-items: center;
}

main .product .product-cards .card{
    border-radius: 10px;
    width: 350px;
    margin: auto;
    padding-bottom: 30px;
}

main .product .product-cards .card img{
    width: 100%;
    border-radius: 10px;
}

main .product .product-cards .card .card-txt{
   text-align: center;
}
/*Fim - (Team)*/