/*Começo - (Services)*/
main .services{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--backgroud-secundario);
    padding-bottom: 50px;
}

main .services .sv-content{
    margin: auto;
    padding: 40px 0;
}

main .services .sv-content .txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .services .sv-content .txt p{
    margin-top: 30px;
    padding: 20px;
}

main .services .sv-content .services-cards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 50px;
   margin-top: 80px;
}

main .services .sv-content .services-cards .card{
    border: 1px solid var(--backgroud-txt-card);
    width: 250px;
    height: 180px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.171);
    margin: auto;
    position: relative;
    background-color: var(--backgroud-color-card);
}

main .services .sv-content .services-cards .card::before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 1px solid var(--backgroud-color-card);
    border-radius: 10px;
}

main .services .sv-content .services-cards .card-img .bi{
    font-size: 60px;
    color: var(--backgroud-txt-card);
}

main .services .sv-content .services-cards .card .card-txt{
    text-align: center;
}

main .services .sv-content .services-cards .card .card-txt h3{
    margin: 20px 0;
}
/*Fim - (Services)*/